@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  border: 1px solid $secondary-border;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
  background-color: $secondary-background;

  @include tablet {
    width: 48%;
    border-radius: 12px;
    margin-bottom: 2rem;
  }

  @include desktop {
    width: 31.5%;
    border-width: 2px;
  }

  &-alt {
    margin: 1rem;

    @include tablet {
      border-width: 2px;
      margin: 2rem auto;
      width: 70%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    @include reset-link-styling;
    margin: 0;

    &-alt {
      font-size: 1rem;
      @include tablet {
        font-size: 1.5rem;
      }
    }
  }

  &__info {
    @include flex-center;
    background-color: $secondary-background;
    text-align: center;
    padding: 0.25rem;
    height: 2rem;

    @include tablet {
      padding: 0.5rem;
      height: 3.5rem;
    }

    &-alt {
      height: 2.5rem;
      @include tablet {
        padding: 0.5rem;
        height: 3rem;
      }
    }
  }
}
