@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin reset-link-styling {
  color: inherit;
  text-decoration: none;
}

@mixin input-box {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid $secondary-border;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Outfit";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.938rem;
  &:focus {
    outline: 1.5px solid $primary-button;
  }
}

@mixin primary-button {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.938rem;
  border: 2px solid $primary-button;
  padding: 0 2rem;
  height: 2.25rem;
  background-color: transparent;
  border-radius: 18px;
  color: $primary-button;
  cursor: pointer;

  &:hover {
    background-color: $primary-button;
    color: #fff;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
