$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$primary-text: #0c1e1a;

$primary-button: #1e6655;

$primary-background: #effaf7;

$secondary-border: #b7cec9;

$secondary-background: #e4efec;
