@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2rem;
  }

  &__banner {
    background-image: url(../../assets/images/hero-banner.jpg);
    background-size: cover;
    background-position: 50% 20%;
    height: 50vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid $secondary-border;
    border-radius: 15px;

    @include desktop {
      height: 25vw;
      border-width: 2px;
    }
  }

  &__title {
    
    font-family: "outfit";
    font-weight: 300;
    margin-right: 0.5rem;
    width: 45%;
    text-wrap: wrap;

    @include tablet {
      margin-right: 1.5rem;
    }
  }
}
