@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex-column;
  padding: 1.5rem 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2.5rem;
  }

  @include desktop {
    margin-bottom: 0;
  }

  &-alt {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 0;

    @include tablet {
      margin: 0;
    }
  }

  &__link {
    @include reset-link-styling;
  }

  &__image {
    fill: none;
    fill: currentColor;
    width: 15px;
    height: 11px;
    padding-left: 0.5rem;
  }

  &__home-link {
    @include reset-link-styling;
  }

  &__back {
    @include flex-center;
  }

  &__arrow {
    fill: $primary-button;
  }

  &__home {
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: $primary-button;
    margin: 0 0 0 1rem;
  }
}
