@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;


body {
  box-sizing: border-box;
  color: $primary-text;
  background-color: $primary-background;
  margin: 0;
}



